<h1>Welcome to VueTraining!</h1>

<p>By the time you're done, you'll be ready to write real-world programs in both Vue 2 and Vue 3.</p>

<p>So let's get you started.</p>

<p>Here's your login info to <a href="https://www.vuetraining.net/vue-training">access the curriculum</a>:</p>
Username: <%= @email %><br>
Password: <%= @password %><br>

<p>See you in <a href="https://join.slack.com/t/vuetraining/shared_invite/zt-f78q3e13-ChcPkFnXQqNEaJOjOWwF8w">the Slack</a>.</p>

<p>--Jeffrey</p>